<% provide(:button_text, '編集を実行する') %>
<div class="row">
    <aside class="col-md-12" >
        <section class="question_form">
            <%= render 'shared/question_form' %>
        </section>
    </aside>
</div>