<footer class="footer">
  <small>
    created by RenItou.
  </small>
  <nav>
    <ul>
      <li><%= link_to "サイト概要",   '/about' %></li>
      <li><%= link_to "お問合せ", '/contact' %></li>
    </ul>
  </nav>
</footer>